@include media-md {
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            .menu-nav__item {
                display: inline;
                padding-right: 1.5rem;
                font-size: 0.5rem;
            }
        }

        .about-bio {
            font-size: 1.5rem;
        }
    }

    .projects {
        .projects-bio__image {
            height: 40vh;
        }

        .project-items {
            grid-template-columns: repeat(2, 1fr);
        }

        .secondary-text {
            font-size: 3rem;
        }
    }

    .contact-list {
        grid-template-columns: repeat(2,1fr);
    }
}

@include media-lg {
    .project-items {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact-list {
        grid-template-columns: repeat(3,1fr);
    }
}

@include media-xl {
    .projects-bio__image {
        height: 50vh;
    }
}